extends _layout.pug

block content
  +b.b-gamepad
    +e.display
      //- canvas(width="7168" height="480")#background
      //- canvas(width="7168" height="480")#main
      //- canvas(width="7168" height="480")#info

      canvas(width="992" height="480")#background
      canvas(width="992" height="480")#main
      canvas(width="992" height="480")#info

    +e.controls
      +e.control.left &larr;
      +e.control.right &rarr;
      +e.control.up &uarr;
      +e.control.down &darr;

      +e.control.l-shift shift
      //- +e.control.r-shift shift

      +e.control.l-ctrl ctrl
      //- +e.control.r-ctrl ctrl


