{
  "path": "{{options.path}}",
  "items": {
  {{#sprites}}
    "{{name}}": {
      "sx": {{x}},
      "sy":  {{y}},
      "sWidth": {{width}},
      "sHeight": {{height}}
    }{{^if @last}},{{/if}}
  {{/sprites}}
  }
}
