body {
  font-family: "fontMain", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.42;
}

canvas {
  background: #5c94fc;
  // @include bg("level/1-1.png");
  background-size: auto 200%;
}
